# Fund Analysis

In [1]:
import sys
sys.path.append('D:/source/repos')
from utilities.std_imports import *

import sqlite3 as sql
from trading.Funds.VisualFunds import VisualFunds

### Load data

In [2]:
vf = VisualFunds()

df = pd.read_csv('D:/Invest/Funds/FundsR4.csv')
df.head()

,isin,name,currency,sector,cat,region,comg,rent1m,rent3m,rent6m,rcat1m,rcat3m,rcat6m,volat,sharpe,beta,mstar
0,GB0006781396,Bny Mellon Oriental Eur Acc,EUR,RV Asia,RV Asia Pacífico (ex-Japón),Asia,2.00,3.74,13.99,44.12,4.94,9.71,21.78,19.62,0.65,1.12,0
1,LU1504056026,Invesco Glbl Consmr Trnds A Eur Ad,EUR,RV S. Bienes Consumo,Sector de consumo de RV,Global,1.50,4.36,12.49,37.95,2.89,9.21,18.06,24.31,0.68,1.53,1
2,LU0052864419,Invesco Glbl Consmr Trnds A Usd Acc,EUR,RV S. Bienes Consumo,Sector de consumo de RV,Global,1.50,4.26,12.45,38.07,2.89,9.21,18.06,24.03,0.69,1.51,2
3,LU0115139569,Invesco Glbl Consmr Trnds E Eur Acc,EUR,RV S. Bienes Consumo,Sector de consumo de RV,Global,2.25,4.25,12.24,37.41,2.89,9.21,18.06,24.30,0.65,1.53,3
4,LU0815263628,Sra. Invf Líderes emergentes Equidad A,EUR,RV Global Emergentes,RV Global Emergente,Global Emergentes,1.90,4.23,15.60,42.03,5.55,9.09,21.79,17.83,0.85,0.93,4

### Data analysis

In [5]:
conn = sql.connect('db')
df.to_sql('fund', conn)

In [6]:
res = pd.read_sql("SELECT * FROM fund WHERE rent1m > 5 AND rent3m > 10 AND rent6m > 20 AND rcat1m < rent1m AND rcat3m < rent3m AND rcat6m < rent6m and mstar <300 AND comg < 1.50" , conn)
print(res.shape[0])
res.head()

5

,index,isin,name,currency,sector,cat,region,comg,rent1m,rent3m,rent6m,rcat1m,rcat3m,rcat6m,volat,sharpe,beta,mstar
0,181,LU0607512851,Invesco Dev Sm y Midcap Eq C Usd Acc,EUR,RV Pymes Global,RV Global Cap. Pequeña,Global,0.95,5.43,13.45,29.64,2.42,8.08,20.22,23.05,0.08,1.20,181
1,205,LU0155303323,Pictet-Asian Equities Ex Japan Pusd,EUR,RV Asia,RV Asia (ex-Japón),Asia,1.40,6.69,13.62,27.54,4.81,10.00,22.84,17.57,0.50,1.05,205
2,247,LU0130729220,Pictet-Emerging Markets P usd,EUR,RV Global Emergentes,RV Global Emergente,Global Emergentes,1.40,7.79,12.57,28.70,5.55,9.09,21.79,18.14,0.27,1.06,247
3,256,IE00B3DJ5M15,Federated Hermes Glb Em Mkts F Eur Acc,EUR,RV Global Emergentes,RV Global Emergente,Global Emergentes,1.00,6.94,13.24,29.08,5.55,9.09,21.79,17.93,0.38,1.06,256
4,295,LU0255976994,Pictet-Asian Equities Ex Japan P Eur,EUR,RV Asia,RV Asia (ex-Japón),Asia,1.40,6.69,13.88,27.08,4.81,10.00,22.84,17.63,0.49,1.06,295

In [7]:
funds = list(res['isin'])
vf.ShowMSCharts(funds)

In [ ]:
pd.read_sql("DROP TABLE fund", conn)