# Fund Analysis

In [1]:
import sys
sys.path.append('D:/source/repos')
from utilities.std_imports import *

import sqlite3 as sql

### Load data

In [2]:
df = pd.read_csv('D:/Invest/Funds/FundsR4.csv')
df.head()

,isin,name,sector,cat,region,comg,rent1m,rent3m,rent6m,rcat1m,rcat3m,rcat6m,volat,sharpe,beta,mstar
0,GB0006781396,Bny Mellon Oriental Eur Acc,RV Asia,RV Asia Pacífico (ex-Japón),Asia,2.00,3.74,13.99,44.12,4.94,9.71,21.78,19.62,0.65,1.12,0
1,LU1504056026,Invesco Glbl Consmr Trnds A Eur Ad,RV S. Bienes Consumo,Sector de consumo de RV,Global,1.50,4.36,12.49,37.95,2.89,9.21,18.06,24.31,0.68,1.53,1
2,LU0052864419,Invesco Glbl Consmr Trnds A Usd Acc,RV S. Bienes Consumo,Sector de consumo de RV,Global,1.50,4.26,12.45,38.07,2.89,9.21,18.06,24.03,0.69,1.51,2
3,LU0115139569,Invesco Glbl Consmr Trnds E Eur Acc,RV S. Bienes Consumo,Sector de consumo de RV,Global,2.25,4.25,12.24,37.41,2.89,9.21,18.06,24.30,0.65,1.53,3
4,LU0815263628,Sra. Invf Líderes emergentes Equidad A,RV Global Emergentes,RV Global Emergente,Global Emergentes,1.90,4.23,15.60,42.03,5.55,9.09,21.79,17.83,0.85,0.93,4

### Data analysis

In [4]:
conn = sql.connect('db')
df.to_sql('fund', conn)

In [5]:
res = pd.read_sql("SELECT * FROM fund WHERE region = 'Asia'", conn)
res.head()

,index,isin,name,sector,cat,region,comg,rent1m,rent3m,rent6m,rcat1m,rcat3m,rcat6m,volat,sharpe,beta,mstar
0,0,GB0006781396,Bny Mellon Oriental Eur Acc,RV Asia,RV Asia Pacífico (ex-Japón),Asia,2.0,3.74,13.99,44.12,4.94,9.71,21.78,19.62,0.65,1.12,0
1,8,IE0003795394,Bny Mellon Asian Equity Usd A Acc,RV Asia,RV Asia Pacífico (ex-Japón),Asia,2.0,4.08,12.99,39.18,4.94,9.71,21.78,19.18,0.60,1.10,8
2,17,IE0003782467,Bny Mellon Asian Equity Eur A Acc,RV Asia,RV Asia Pacífico (ex-Japón),Asia,2.0,4.16,12.99,39.04,4.94,9.71,21.78,19.33,0.60,1.10,17
3,20,IE00BD1DJ122,Comgest Crecimiento Japón Eur R Acc,RV Japón,RV Japón Cap. Grande,Asia,1.7,6.53,18.90,24.60,3.84,11.51,13.00,16.08,0.94,1.00,20
4,21,IE0004767087,Comgest Growth Japan Jpy Acc,RV Japón,RV Japón Cap. Grande,Asia,1.5,6.49,18.92,24.63,3.84,11.51,13.00,16.02,0.95,1.00,21

In [7]:
res = pd.read_sql("SELECT * FROM fund WHERE rent1m > 3", conn)
res.head()

,index,isin,name,sector,cat,region,comg,rent1m,rent3m,rent6m,rcat1m,rcat3m,rcat6m,volat,sharpe,beta,mstar
0,0,GB0006781396,Bny Mellon Oriental Eur Acc,RV Asia,RV Asia Pacífico (ex-Japón),Asia,2.00,3.74,13.99,44.12,4.94,9.71,21.78,19.62,0.65,1.12,0
1,1,LU1504056026,Invesco Glbl Consmr Trnds A Eur Ad,RV S. Bienes Consumo,Sector de consumo de RV,Global,1.50,4.36,12.49,37.95,2.89,9.21,18.06,24.31,0.68,1.53,1
2,2,LU0052864419,Invesco Glbl Consmr Trnds A Usd Acc,RV S. Bienes Consumo,Sector de consumo de RV,Global,1.50,4.26,12.45,38.07,2.89,9.21,18.06,24.03,0.69,1.51,2
3,3,LU0115139569,Invesco Glbl Consmr Trnds E Eur Acc,RV S. Bienes Consumo,Sector de consumo de RV,Global,2.25,4.25,12.24,37.41,2.89,9.21,18.06,24.30,0.65,1.53,3
4,4,LU0815263628,Sra. Invf Líderes emergentes Equidad A,RV Global Emergentes,RV Global Emergente,Global Emergentes,1.90,4.23,15.60,42.03,5.55,9.09,21.79,17.83,0.85,0.93,4