# Fund Analysis

In [1]:
import sys
sys.path.append('D:/source/repos')
from utilities.std_imports import *

import sqlite3 as sql
from trading.Funds.VisualFunds import VisualFunds

### Load data

In [2]:
vf = VisualFunds()

df = pd.read_csv('D:/Invest/Data/Funds/FundsR4.csv')
df.head()

,isin,name,currency,sector,cat,region,comg,rent1m,rent3m,rent6m,rcat1m,rcat3m,rcat6m,volat,sharpe,beta,mstar
0,GB0006781396,Bny Mellon Oriental Eur Acc,EUR,RV Asia,RV Asia Pacífico (ex-Japón),Asia,2.00,3.74,13.99,44.12,4.94,9.71,21.78,19.62,0.65,1.12,0
1,LU1504056026,Invesco Glbl Consmr Trnds A Eur Ad,EUR,RV S. Bienes Consumo,Sector de consumo de RV,Global,1.50,4.36,12.49,37.95,2.89,9.21,18.06,24.31,0.68,1.53,1
2,LU0052864419,Invesco Glbl Consmr Trnds A Usd Acc,EUR,RV S. Bienes Consumo,Sector de consumo de RV,Global,1.50,4.26,12.45,38.07,2.89,9.21,18.06,24.03,0.69,1.51,2
3,LU0115139569,Invesco Glbl Consmr Trnds E Eur Acc,EUR,RV S. Bienes Consumo,Sector de consumo de RV,Global,2.25,4.25,12.24,37.41,2.89,9.21,18.06,24.30,0.65,1.53,3
4,LU0815263628,Sra. Invf Líderes emergentes Equidad A,EUR,RV Global Emergentes,RV Global Emergente,Global Emergentes,1.90,4.23,15.60,42.03,5.55,9.09,21.79,17.83,0.85,0.93,4

### Data analysis

In [7]:
conn = sql.connect('db')
#df.to_sql('fund', conn)

In [8]:
res = pd.read_sql("SELECT * FROM fund WHERE rent1m > 5 AND rent3m > 10 AND rent6m > 15 AND rcat1m < rent1m AND rcat3m < rent3m AND rcat6m < rent6m and mstar <400 " , conn)
print(res.shape[0])
res.head()

60

,index,isin,name,currency,sector,cat,region,comg,rent1m,rent3m,rent6m,rcat1m,rcat3m,rcat6m,volat,sharpe,beta,mstar
0,6,LU0224105477,Bgf Continental Eurp Flex A2 Eur,EUR,RV Europa,RV Europa ex-Reino Unido Cap. Grande,Europa,1.50,5.65,14.22,31.49,1.92,4.46,16.88,16.42,0.47,1.04,6
1,7,LU0628613803,Bgf Continental Eurp Flex A4 Eur,EUR,RV Europa,RV Europa ex-Reino Unido Cap. Grande,Europa,1.50,5.62,14.24,31.45,1.92,4.46,16.88,16.43,0.47,1.04,7
2,9,FR0011147446,Carmignac Emergentes E Eur Acc,EUR,RV Global Emergentes,RV Global Emergente,Global Emergentes,2.25,10.46,16.06,41.31,5.55,9.09,21.79,16.48,0.48,0.98,9
3,16,LU0224105980,Bgf Continental Eurp Flex E2 Eur,EUR,RV Europa,RV Europa ex-Reino Unido Cap. Grande,Europa,2.00,5.59,14.09,31.13,1.92,4.46,16.88,16.43,0.44,1.04,16
4,19,FR0010149302,Carmignac Emergentes A Eur Acc,EUR,RV Global Emergentes,RV Global Emergente,Global Emergentes,1.50,9.40,15.14,40.70,5.55,9.09,21.79,16.40,0.51,0.97,19

In [16]:
for i in range(res.shape[0]):
    fund = res.iloc[i]['isin'] + ' ' + res.iloc[i]['currency']
    vf.ShowFundChart(fund)

In [ ]:
pd.read_sql("DROP TABLE fund", conn)