In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import datetime as dt
import yahoo_fin.stock_info as si
import plotly.graph_objects as go
import plotly.express as px
from collections import namedtuple

In [22]:
Kpi = namedtuple('Kpi', 'ea re eh er ge')
kpi = Kpi(ea='Earnings Estimate', re='Revenue Estaimate', eh='Earnings History', er='EPS Revisions', ge='Growth Estimates')
kpi.ea

'Earnings Estimate'

In [23]:
ticker = 'ACN'
si.get_analysts_info(ticker)[kpi.ea]

,Earnings Estimate,Current Qtr. (May 2020),Next Qtr. (Aug 2020),Current Year (2020),Next Year (2021)
0,No. of Analysts,24.00,24.00,28.00,28.00
1,Avg. Estimate,1.85,1.73,7.59,8.05
2,Low Estimate,1.70,1.60,7.45,6.63
3,High Estimate,2.00,1.83,7.70,8.61
4,Year Ago EPS,1.93,1.74,7.36,7.59

In [24]:
si.get_day_gainers()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,CPITF,CapitaLand Commercial Trust,1.2700,0.3000,30.93,6.101200e+13,1.320000e+11,6.566000e+09,NaN
1,CXMSF,"CEMEX, S.A.B. de C.V.",0.3205,0.0495,18.27,2.452000e+06,2.137770e+14,4.842000e+09,32.05
2,KC,Kingsoft Cloud Holdings Limited,26.1900,3.4900,15.37,2.343000e+06,2.791000e+06,5.376000e+09,NaN
3,VIR,"Vir Biotechnology, Inc.",41.4600,4.1400,11.09,2.736000e+06,1.359000e+06,4.888000e+09,NaN
4,VNET,"21Vianet Group, Inc.",18.3300,1.7700,10.69,3.308000e+06,9.479930e+14,2.077000e+09,23.93
...,...,...,...,...,...,...,...,...,...
95,MKTX,MarketAxess Holdings Inc.,520.2800,19.4200,3.88,4.611000e+14,3.095950e+14,1.972400e+10,87.13
96,NKTR,Nektar Therapeutics,22.8200,0.8400,3.85,1.949000e+06,1.252000e+06,4.062000e+09,NaN
97,HALO,"Halozyme Therapeutics, Inc.",24.4400,0.9000,3.82,2.885000e+06,1.422000e+06,3.319000e+09,NaN
98,NTCO,Natura &Co Holding S.A.,15.8100,0.5700,3.74,4.354190e+14,5.248440e+14,9.791000e+09,NaN
99,TV,"Grupo Televisa, S.A.B.",5.7300,0.2000,3.62,1.603000e+06,1.669000e+06,3.233000e+09,10.32

In [25]:
si.get_day_losers()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,WRCDF,Wirecard AG,27.6000,-14.2200,-34.00,8.147400e+13,7.614000e+12,3.658000e+09,8.58
1,WCAGY,Wirecard AG,13.7500,-6.4500,-31.93,6.598810e+14,4.081100e+13,3.773000e+09,8.55
2,MNGPF,Man Group plc,1.6145,-0.2055,-11.29,2.599700e+13,1.231000e+12,NaN,8.77
3,FNMAT,Federal National Mortgage Association,6.7500,-0.7100,-9.52,2.286120e+14,2.299810e+14,8.932000e+09,397.06
4,DNLI,Denali Therapeutics Inc.,23.6100,-2.4100,-9.26,1.879000e+06,4.816610e+14,2.494000e+09,NaN
...,...,...,...,...,...,...,...,...,...
95,BKR,Baker Hughes Company,15.4900,-0.6200,-3.85,1.487300e+07,6.870000e+06,1.599300e+10,NaN
96,PNW,Pinnacle West Capital Corporation,73.5000,-3.1500,-4.11,2.727000e+06,1.225000e+06,8.268000e+09,15.06
97,VEON,VEON Ltd.,1.7100,-0.0700,-3.93,2.300100e+07,6.221000e+06,2.991000e+09,12.86
98,HRB,"H&R Block, Inc.",15.7300,-0.6400,-3.91,7.231000e+06,3.325000e+06,3.028000e+09,NaN
99,REG,Regency Centers Corporation,44.6300,-1.8200,-3.91,3.439000e+06,1.769000e+06,7.571000e+09,60.48

In [26]:
si.get_day_most_active()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM)
0,BAC,Bank of America Corporation,25.25,0.21,0.84,127564000.0,83420000.0,2.19059e+11,10.26
1,F,Ford Motor Company,6.23,-0.10,-1.58,126128000.0,102068000.0,2.4777e+10,NaN
2,UAL,"United Airlines Holdings, Inc.",36.84,-2.50,-6.35,101014000.0,55952000.0,1.07e+10,9.28
3,AAL,American Airlines Group Inc.,16.00,-0.49,-2.97,92320000.0,92522000.0,6.766e+09,NaN
4,GE,General Electric Company,7.15,-0.13,-1.79,88680000.0,119077000.0,6.2542e+10,NaN
...,...,...,...,...,...,...,...,...,...
95,TWTR,"Twitter, Inc.",33.41,-0.62,-1.82,19345000.0,21641000.0,2.6214e+10,20.74
96,GILD,"Gilead Sciences, Inc.",77.47,3.43,4.63,19323000.0,18280000.0,9.7176e+10,19.88
97,GOLD,Barrick Gold Corporation,24.49,0.55,2.30,19199000.0,20621000.0,4.3792e+10,10.16
98,RTX,Raytheon Technologies Corporation,64.89,-1.99,-2.98,19138000.0,14538000.0,9.8319e+10,NaN
99,NEM,Newmont Corporation,56.92,1.39,2.50,19066000.0,9438000.0,4.5683e+10,12.92

In [27]:
si.get_quote_table(ticker , dict_result = True)

{'1y Target Est': 196.38,
 '52 Week Range': '137.15 - 216.39',
 'Ask': '201.49 x 800',
 'Avg. Volume': 2645765.0,
 'Beta (5Y Monthly)': 1.05,
 'Bid': '198.52 x 800',
 "Day's Range": '201.52 - 208.29',
 'EPS (TTM)': 7.66,
 'Earnings Date': 'Jun 25, 2020',
 'Ex-Dividend Date': 'Apr 15, 2020',
 'Forward Dividend & Yield': '3.20 (1.58%)',
 'Market Cap': '128.574B',
 'Open': 207.54,
 'PE Ratio (TTM)': 26.29,
 'Previous Close': 202.93,
 'Quote Price': 201.5500030517578,
 'Volume': 3709867.0}

In [29]:
si.get_stats(ticker)

                                         Attribute         Value
0                          Market Cap (intraday) 5       128.57B
1                               Enterprise Value 3       126.81B
2                                     Trailing P/E         26.29
3                                    Forward P/E 1         25.04
4                      PEG Ratio (5 yr expected) 1          3.63
5                                Price/Sales (ttm)          2.88
6                                 Price/Book (mrq)          8.30
7                       Enterprise Value/Revenue 3          2.84
8                        Enterprise Value/EBITDA 6         17.62
9                                Beta (5Y Monthly)          1.05
10                                52-Week Change 3         8.30%
11                         S&P500 52-Week Change 3         5.17%
12                                  52 Week High 3        216.39
13                                   52 Week Low 3        137.15
14                         50-Day Moving Average 3        196.11
15                        200-Day Moving Average 3        192.04
16                             Avg Vol (3 month) 3         2.65M
17                              Avg Vol (10 day) 3         2.66M
18                            Shares Outstanding 5       637.03M
19                                           Float       635.92M
20                            % Held by Insiders 1         0.19%
21                        % Held by Institutions 1        74.68%
22                   Shares Short (May 28, 2020) 4         7.14M
23                    Short Ratio (May 28, 2020) 4           3.3
24               Short % of Float (May 28, 2020) 4         1.12%
25  Short % of Shares Outstanding (May 28, 2020) 4         1.12%
26       Shares Short (prior month Apr 29, 2020) 4         7.56M
27                  Forward Annual Dividend Rate 4           3.2
28                 Forward Annual Dividend Yield 4         1.58%
29                 Trailing Annual Dividend Rate 3          2.40
30                Trailing Annual Dividend Yield 3         1.18%
31                 5 Year Average Dividend Yield 4          1.76
32                                  Payout Ratio 4        39.90%
33                                 Dividend Date 3  May 14, 2020
34                              Ex-Dividend Date 4  Apr 14, 2020
35                             Last Split Factor 2          10:1
36                               Last Split Date 3  Dec 29, 2011
37                                Fiscal Year Ends  Aug 30, 2019
38                       Most Recent Quarter (mrq)  Feb 28, 2020
39                                   Profit Margin        11.13%
40                          Operating Margin (ttm)        14.66%
41                          Return on Assets (ttm)        13.44%
42                          Return on Equity (ttm)        34.01%
43                                   Revenue (ttm)        44.66B
44                         Revenue Per Share (ttm)         70.10
45                  Quarterly Revenue Growth (yoy)         6.60%
46                              Gross Profit (ttm)        13.31B
47                                          EBITDA          7.2B
48                  Net Income Avi to Common (ttm)         4.97B
49                               Diluted EPS (ttm)          7.66
50                 Quarterly Earnings Growth (yoy)         9.80%
51                                Total Cash (mrq)         5.44B
52                      Total Cash Per Share (mrq)          8.54
53                                Total Debt (mrq)         3.41B
54                         Total Debt/Equity (mrq)         21.42
55                             Current Ratio (mrq)          1.38
56                      Book Value Per Share (mrq)         24.28
57                       Operating Cash Flow (ttm)         6.56B
58                    Levered Free Cash Flow (ttm)         5.13B

In [33]:
si.tickers_sp500()

['A',
 'AAL',
 'AAP',
 'AAPL',
 'ABBV',
 'ABC',
 'ABMD',
 'ABT',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADS',
 'ADSK',
 'AEE',
 'AEP',
 'AES',
 'AFL',
 'AIG',
 'AIV',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALGN',
 'ALK',
 'ALL',
 'ALLE',
 'ALXN',
 'AMAT',
 'AMCR',
 'AMD',
 'AME',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'ANET',
 'ANSS',
 'ANTM',
 'AON',
 'AOS',
 'APA',
 'APD',
 'APH',
 'APTV',
 'ARE',
 'ATO',
 'ATVI',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXP',
 'AZO',
 'BA',
 'BAC',
 'BAX',
 'BBY',
 'BDX',
 'BEN',
 'BF.B',
 'BIIB',
 'BK',
 'BKNG',
 'BKR',
 'BLK',
 'BLL',
 'BMY',
 'BR',
 'BRK.B',
 'BSX',
 'BWA',
 'BXP',
 'C',
 'CAG',
 'CAH',
 'CARR',
 'CAT',
 'CB',
 'CBOE',
 'CBRE',
 'CCI',
 'CCL',
 'CDNS',
 'CDW',
 'CE',
 'CERN',
 'CF',
 'CFG',
 'CHD',
 'CHRW',
 'CHTR',
 'CI',
 'CINF',
 'CL',
 'CLX',
 'CMA',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'COF',
 'COG',
 'COO',
 'COP',
 'COST',
 'COTY',
 'CPB',
 'CPRT',
 'CRM',
 'CSCO',
 'CSX',
 'CTAS',
 'CTL',
 'CTSH',
 'CTVA',
 'CTXS',
 'CVS',
 'CVX',
 'CXO',
 'D',
 'DAL',
 'DD',
 'DE',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DISCA',
 'DISCK',
 'DISH',
 'DLR',
 'DLTR',
 'DOV',
 'DOW',
 'DPZ',
 'DRE',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'DXC',
 'DXCM',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EIX',
 'EL',
 'EMN',
 'EMR',
 'EOG',
 'EQIX',
 'EQR',
 'ES',
 'ESS',
 'ETFC',
 'ETN',
 'ETR',
 'EVRG',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FANG',
 'FAST',
 'FB',
 'FBHS',
 'FCX',
 'FDX',
 'FE',
 'FFIV',
 'FIS',
 'FISV',
 'FITB',
 'FLIR',
 'FLS',
 'FLT',
 'FMC',
 'FOX',
 'FOXA',
 'FRC',
 'FRT',
 'FTI',
 'FTNT',
 'FTV',
 'GD',
 'GE',
 'GILD',
 'GIS',
 'GL',
 'GLW',
 'GM',
 'GOOG',
 'GOOGL',
 'GPC',
 'GPN',
 'GPS',
 'GRMN',
 'GS',
 'GWW',
 'HAL',
 'HAS',
 'HBAN',
 'HBI',
 'HCA',
 'HD',
 'HES',
 'HFC',
 'HIG',
 'HII',
 'HLT',
 'HOG',
 'HOLX',
 'HON',
 'HPE',
 'HPQ',
 'HRB',
 'HRL',
 'HSIC',
 'HST',
 'HSY',
 'HUM',
 'HWM',
 'IBM',
 'ICE',
 'IDXX',
 'IEX',
 'IFF',
 'ILMN',
 'INCY',
 'INFO',
 'INTC',
 'INTU',
 'IP',
 'IPG',
 'IPGP',
 'IQV',
 'IR',
 'IRM',
 'ISRG',
 'IT',
 'ITW',
 'IVZ',
 'J',
 'JBHT',
 'JCI',
 'JKHY',
 'JNJ',
 'JNPR',
 'JPM',
 'JWN',
 'K',
 'KEY',
 'KEYS',
 'KHC',
 'KIM',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KR',
 'KSS',
 'KSU',
 'L',
 'LB',
 'LDOS',
 'LEG',
 'LEN',
 'LH',
 'LHX',
 'LIN',
 'LKQ',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LRCX',
 'LUV',
 'LVS',
 'LW',
 'LYB',
 'LYV',
 'MA',
 'MAA',
 'MAR',
 'MAS',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'MGM',
 'MHK',
 'MKC',
 'MKTX',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MOS',
 'MPC',
 'MRK',
 'MRO',
 'MS',
 'MSCI',
 'MSFT',
 'MSI',
 'MTB',
 'MTD',
 'MU',
 'MXIM',
 'MYL',
 'NBL',
 'NCLH',
 'NDAQ',
 'NEE',
 'NEM',
 'NFLX',
 'NI',
 'NKE',
 'NLOK',
 'NLSN',
 'NOC',
 'NOV',
 'NOW',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NVR',
 'NWL',
 'NWS',
 'NWSA',
 'O',
 'ODFL',
 'OKE',
 'OMC',
 'ORCL',
 'ORLY',
 'OTIS',
 'OXY',
 'PAYC',
 'PAYX',
 'PBCT',
 'PCAR',
 'PEAK',
 'PEG',
 'PEP',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKG',
 'PKI',
 'PLD',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'PPG',
 'PPL',
 'PRGO',
 'PRU',
 'PSA',
 'PSX',
 'PVH',
 'PWR',
 'PXD',
 'PYPL',
 'QCOM',
 'QRVO',
 'RCL',
 'RE',
 'REG',
 'REGN',
 'RF',
 'RHI',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RSG',
 'RTX',
 'SBAC',
 'SBUX',
 'SCHW',
 'SEE',
 'SHW',
 'SIVB',
 'SJM',
 'SLB',
 'SLG',
 'SNA',
 'SNPS',
 'SO',
 'SPG',
 'SPGI',
 'SRE',
 'STE',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SYF',
 'SYK',
 'SYY',
 'T',
 'TAP',
 'TDG',
 'TEL',
 'TFC',
 'TFX',
 'TGT',
 'TIF',
 'TJX',
 'TMO',
 'TMUS',
 'TPR',
 'TROW',
 'TRV',
 'TSCO',
 'TSN',
 'TT',
 'TTWO',
 'TWTR',
 'TXN',
 'TXT',
 'UA',
 'UAA',
 'UAL',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNM',
 'UNP',
 'UPS',
 'URI',
 'USB',
 'V',
 'VAR',
 'VFC',
 'VIAC',
 'VLO',
 'VMC',
 'VNO',
 'VRSK',
 'VRSN',
 'VRTX',
 'VTR',
 'VZ',
 'WAB',
 'WAT',
 'WBA',
 'WDC',
 'WEC',
 'WELL',
 'WFC',
 'WHR',
 'WLTW',
 'WM',
 'WMB',
 'WMT',
 'WRB',
 'WRK',
 'WST',
 'WU',
 'WY',
 'WYNN',
 'XEL',
 'XLNX',
 'XOM',
 'XRAY',
 'XRX',
 'XYL',
 'YUM',
 'ZBH',
 'ZBRA',
 'ZION',
 'ZTS']