# Swing Trading

In [1]:
import sys
sys.path.append('D:/source/repos')
from utilities.std_imports import *
from trading.Stocks.Swing import *
from trading.Stocks.StockProcess import *
from trading.Funds.VisualFunds import VisualFunds
from trading.Options.OptionsSwing import *
from trading.Options.OptionsProcess import GetPortfolioOptions
vf = VisualFunds()

## Stocks

#### Review Portfolio (pre)

In [6]:
GetPortfolioStocks()

,ticker,name,shares,purchvalue,currvalue,purchAmount,currAmount,diff,relDiff,prop
0,ACN,Accenture plc,221.0,141.45,208.55,31260.45,46089.55,14829.10,47.44,69.20
1,AMZN,"Amazon.com, Inc.",2.0,1723.34,2608.69,3446.68,5217.38,1770.70,51.37,7.83
2,CARR,Carrier Global Corporation,39.0,32.91,32.55,1283.49,1269.45,-14.04,-1.09,1.91
3,CCL,Carnival Corporation & Plc,45.0,22.83,16.72,1027.35,752.40,-274.95,-26.76,1.13
4,CE,Celanese Corporation,11.0,113.94,114.86,1253.34,1263.46,10.12,0.81,1.90
5,DPW.DE,Deutch P W,35.0,29.51,39.86,1032.85,1395.10,362.25,35.07,2.09
6,FCX,Freeport-McMoRan Inc.,70.0,18.40,19.29,1288.00,1350.30,62.30,4.84,2.03
7,JETS,JETS Global,140.0,17.44,18.75,2441.60,2625.00,183.40,7.51,3.94
8,NOW,"ServiceNow, Inc.",2.0,439.50,434.58,879.00,869.16,-9.84,-1.12,1.30
9,PFE,Pfizer Inc.,55.0,30.65,30.55,1685.75,1680.25,-5.50,-0.33,2.52
10,SWK,"Stanley Black & Decker, Inc.",8.0,159.39,162.69,1275.12,1301.52,26.40,2.07,1.95
11,VOO,Vanguard SP500,10.0,238.95,278.91,2389.50,2789.10,399.60,16.72,4.19

#### Register Stock operations

In [7]:
sso = GetStockSwingOperations()
RegisterSwingOperationsStocks(sso)

BBVAE  added to portfolio.
row[1]['ticker'] position added to portfolio.

 Operations registered.

#### Review Portfolio (post)

In [8]:
GetPortfolioStocks()

,ticker,name,shares,purchvalue,currvalue,purchAmount,currAmount,diff,relDiff,prop
0,ACN,Accenture plc,221.0,141.45,208.55,31260.45,46089.55,14829.10,47.44,69.20
1,AMZN,"Amazon.com, Inc.",2.0,1723.34,2608.69,3446.68,5217.38,1770.70,51.37,7.83
2,BBVAE,Accion Eurostoxx 50 ETF,80.0,35.12,0.00,2809.60,0.00,-2809.60,-100.00,0.00
3,CARR,Carrier Global Corporation,39.0,32.91,32.55,1283.49,1269.45,-14.04,-1.09,1.91
4,CCL,Carnival Corporation & Plc,45.0,22.83,16.72,1027.35,752.40,-274.95,-26.76,1.13
5,CE,Celanese Corporation,11.0,113.94,114.86,1253.34,1263.46,10.12,0.81,1.90
6,DPW.DE,Deutch P W,35.0,29.51,39.86,1032.85,1395.10,362.25,35.07,2.09
7,FCX,Freeport-McMoRan Inc.,70.0,18.40,19.29,1288.00,1350.30,62.30,4.84,2.03
8,JETS,JETS Global,140.0,17.44,18.75,2441.60,2625.00,183.40,7.51,3.94
9,NOW,"ServiceNow, Inc.",2.0,439.50,434.58,879.00,869.16,-9.84,-1.12,1.30
10,PFE,Pfizer Inc.,55.0,30.65,30.55,1685.75,1680.25,-5.50,-0.33,2.52
11,SWK,"Stanley Black & Decker, Inc.",8.0,159.39,162.69,1275.12,1301.52,26.40,2.07,1.95
12,VOO,Vanguard SP500,10.0,238.95,278.91,2389.50,2789.10,399.60,16.72,4.19

## Options

In [2]:
GetPortfolioOptions()

,ticker,asset,type,purchvalue,purchamount,currvalue,curramount,diff,reldiff,strike,idm,exercise,broker
0,HAL,Halliburton,C,250,None,223,None,None,None,16,18.5,2021-01-15,IB

In [3]:
sso = GetOptionSwingOperations()
RegisterSwingOperationsOptions(sso)
sso

null value in column "update" of relation "option" violates not-null constraint
DETAIL:  Failing row contains (GPS, GAP Inc., USD, NY, C, 6.35, null, null, null, null, null, 100, 17, 23.35, 2022-01-21, null, IB, null, 2020-11-25, 2020-11-25).

row[1]['ticker'] position added to portfolio.
null value in column "update" of relation "option" violates not-null constraint
DETAIL:  Failing row contains (CCL, Carnival Cruisse Lines, USD, NY, C, 6.29, null, null, null, null, null, 100, 17.5, 23.79, 2022-01-21, null, IB, null, 2020-11-25, 2020-11-25).

row[1]['ticker'] position added to portfolio.

 Operations registered.

,ticker,name,shares,value,eurValue,type,strike,expiration,op
1,GPS,GAP Inc.,100,7.52,6.35,C,17,21/01/22,B
2,CCL,Carnival Cruisse Lines,100,7.45,6.29,C,17.5,21/01/22,B

In [6]:
exercise = '21/01/22'
exercise = datetime.datetime.strptime(exercise,  '%d/%m/%y').strftime("%m-%d-%Y")
exercise

'01-21-2022'

In [5]:
GetPortfolioOptions()

,ticker,asset,type,purchvalue,purchamount,currvalue,curramount,diff,reldiff,strike,idm,exercise,broker
0,HAL,Halliburton,C,250,None,223,None,None,None,16,18.5,2021-01-15,IB